- ###################################################
- ###################################################
- ##            ____          __                   ##
- ##           /  _/___  ____/ /__  _  __          ##
- ##           / // __ \/ __  / _ \| |/_/          ##
- ##         _/ // / / / /_/ /  __/>  <            ##
- ##        /___/_/ /_/\__,_/\___/_/|_|            ##
- ##                                               ##
- ###################################################
- ###################################################
- ## Gives us a single page from which to manage   ##
- ## underlying functionality for the system.      ##
- ###################################################
- ###################################################

- # Container
.authentication

  - # User Information
  - # Expected to be signed in
  %h4 ðŸ”’ Authentication

  - # Content
  .container
    %h5
      %u VRN (VAT Registration Number)
    %h6 This is a 9 digit number provided by HMRC: -
    = form_for current_user, url('/settings'), data: { parsley: {validate: 'true', trigger: 'keyup', required: {message: "Required"}}} do |f|
      - if @user.try(:errors)
        - @user.errors.full_messages.each do |message|
          = message
      = f.text_field :vrn, placeholder: "VAT Number (VRN)", value: current_user.try(:vrn), data: { parsley: { type: "number", minlength: "9", maxlength: "9" }}
      = f.submit

- # Need to check if HMRC is connected
- if current_user.authenticated?

  - # Returns
  - # These show the user which returns they have available, and which they need to submit
  %h4 ðŸ“ Returns
  - if current_user.returns.any?
    - current_user.returns.each do |r|
      = r.periodKey
  - else
    - if current_user.vrn
      No Returns!
      %br= link_to "Get Obligations", "/returns"
    - else
      %p Please add a VRN (above) to download your data.

- else

  %p
    %center You must #{ link_to 'authenticate with HMRC', url("/auth/hmrc_vat"), method: :post, style: "text-decoration: underline"} before you can see any data.

- ###################################################
- ###################################################
