- # Introduction (number of orders etc)
.intro
  .options
    = form_tag "options", id: :options do
      -%i(email_notifications pwinty_auto).each do |tag|
        = label_tag tag do
          %input{type: 'checkbox', name: tag, id: tag, checked: @shop.send(tag)}
  .actions
    %h4= pluralize(@shop.orders.size, "Managed Order")
    %h5= link_to "Refresh", "/orders"

- # Table
- if @shop.orders.any?
  %table{id: "orders", width: "100%"}
    %thead
      %tr
        %th 📋 Order
        %th 📦 Product(s)
        %th ✔️ Status
        %th ⭐ Created At
        %th ⏱️ Updated At
    %tbody
      - @shop.orders.each_with_index do |order,i|
        %tr
          %td.order
            -%i(pdf png).each do |format|
              = link_to image_tag("#{format}.svg"), "/orders/#{order.number}.#{format}" + (format == :png ? "?verify=#{@shop.id}" : ""), title: "Packing Slip (#{format.upcase})", class: :packing_slip, target: :_blank
            %h4= link_to order.number, order.admin_url, target: :_blank
            %span= "(#{number_to_currency(order.subtotal_price)} + #{number_to_currency(order.shipping_price)})"
            %span.total= number_to_currency(order.total_price)
          %td.products
            - if order.line_items
              - order.line_items.each do |line_item|
                = link_to "IMG", line_item.image_to_send + "?verify=#{@shop.id}", target: :_blank, class: :img
                = link_to "#{line_item.title} #{'(' + line_item.variant_title + ')' if line_item.variant_title.present?}", line_item.admin_url, target: :_blank, class: "line_item"
                .properties
                  %h4 Properties
                  - if line_item.try(:properties) && line_item.try(:properties).try(:present?)
                    - line_item.properties.each do |k,v|
                      = "#{k}: #{v}"
                      %br
                  - else
                    N/A
              .customer
                %h4 Customer
                - if order.try(:customer)
                  %ul
                    - order.customer.attributes.except("id", "shop_id", "order_id", "properties", "created_at", "updated_at").each do |k,v|
                      %li= order.customer.try(k.to_sym) if order.customer.try(k.to_sym)
                - else
                  N/A
          %td.status
            - %i(pwinty_id status).each do |i|
              - haml_tag_if order.try(i), "span.#{i.to_s}" do
                = order.send(i)
            = form_tag "/orders/#{order.id}" do
              = submit_tag 'Save'
          - %i(created_at updated_at).each do |x|
            %td{ class: x }= order.send(x)
