!!!
%html{lang: "en"}
  %head

    - # General
    %title= "VAT MTD (Making Tax Digital) Integration Demonstration"
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{rel: "icon", type: "image/png", href: "favicon.ico"}

    - # Robots
    %meta{name: "robots", content: "noindex"}

    - # Assets
    != stylesheet_tag('app')
    != javascript_tag('app')

  %body{ class: request.path.delete('\/') }
    %header
      = haml :'partials/auth', layout: false
      %h1= link_to "💳 VAT MTD Integration", "/"
    %main
      = haml :'partials/flash', layout: false if flash.keys.any? # => required because it would just show {}
      .container= yield
