!!!
%html{lang: "en-GB"}
  %head

    {% comment %} General {% endcomment %}
    {% meta title: "Test" %}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{rel: "icon", type: "image/png", href: "favicon.ico"}

    {% comment %} Meta Tags {% endcomment %}
    {% comment %} Outlines exactly what should be present on the page {% endcomment %}
    {% meta %}

    != stylesheet_tag 'app'
    != javascript_tag 'app'

  %body{ class: request.path.delete('\/') }
    %header
      = haml :'partials/auth', layout: false
      %h1= link_to "VAT MTD", "/"
    %main
      = haml :'partials/flash', layout: false if flash.keys.any? # => required because it would just show {}
      .container= yield
